<a href="https://colab.research.google.com/github/natharzu/awesome-svg/blob/master/Copy_of_Ex01_WMS_mexico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the pandas library for data manipulation and analysis
import pandas as pd

In [ ]:
# Import 'files' from Google Colab to enable downloading files from the Colab environment
from google.colab import files

In [ ]:
# Define the URL of the CSV file stored on Dropbox (set to direct download)
myfile='https://www.dropbox.com/scl/fi/zoanfqe59tuwl3g7r59zo/wms_da_textbook.csv?rlkey=kpz5o6urg14z974lhh7ic5c33&st=1xlxhsd5&dl=1'

In [ ]:
# Read the CSV file from the URL into a pandas DataFrame
df = pd.read_csv(myfile)

In [ ]:
# Display the first few rows of the dataset to verify that it loaded correctly
print(df.head())

   firmid  wave cty        country   sic  management  operations  monitor  \
0       1  2004  us  United States  38.0    3.500000         3.0      3.6
1       1  2006  us  United States  38.0    3.166667         5.0      3.8
2       1  2010  us  United States  38.0    3.000000         2.0      2.8
3       2  2004  us  United States  28.0    4.666667         4.5      4.8
4       2  2004  us  United States  28.0    4.444445         4.5      4.6

   target    people  ...  aa_196  aa_197  aa_198  aa_199  aa_200  aa_201  \
0     3.6  3.500000  ...     0.0     0.0     0.0     0.0     0.0     0.0
1     2.6  2.500000  ...     0.0     0.0     0.0     0.0     0.0     0.0
2     3.6  3.000000  ...     0.0     0.0     0.0     0.0     0.0     0.0
3     4.4  4.833333  ...     0.0     0.0     0.0     0.0     0.0     0.0
4     4.4  4.333333  ...     0.0     0.0     0.0     0.0     0.0     0.0

   aa_202  aa_203  aa_204  aa_205
0     0.0     0.0     0.0     0.0
1     0.0     0.0     0.0     0.0
2     0.0     0.0     0.0     0.0
3     0.0     0.0     0.0     0.0
4     0.0     0.0     0.0     0.0

[5 rows x 245 columns]

In [ ]:
# Display the last few rows of the dataset
print(df.tail())

       firmid  wave cty        country   sic  management  operations  monitor  \
14272   10278  2006  us  United States  35.0    2.111111         1.0      1.6
14273   10279  2008  us  United States  28.0    3.666667         3.5      4.0
14274   10280  2014  us  United States  20.0    3.611111         3.0      4.4
14275   10281  2005  us  United States  34.0    3.277778         4.0      4.2
14276   10282  2006  us  United States  34.0    3.235294         1.0      3.8

       target    people  ...  aa_196  aa_197  aa_198  aa_199  aa_200  aa_201  \
14272    2.40  2.666667  ...     0.0     0.0     0.0     0.0     0.0     0.0
14273    4.20  3.000000  ...     0.0     0.0     0.0     0.0     0.0     0.0
14274    3.40  3.333333  ...     0.0     0.0     0.0     0.0     0.0     0.0
14275    3.40  2.166667  ...     0.0     0.0     0.0     0.0     0.0     0.0
14276    4.25  2.833333  ...     0.0     0.0     0.0     0.0     0.0     0.0

       aa_202  aa_203  aa_204  aa_205
14272     0.0     0.0     0.0     0.0
14273     0.0     0.0     0.0     0.0
14274     0.0     0.0     0.0     0.0
14275     0.0     0.0     0.0     0.0
14276     0.0     0.0     0.0     0.0

[5 rows x 245 columns]

In [ ]:
# Filter the rows
# Keep only rows that meet all the following conditions:
# 1. The 'country' column equals 'Mexico'
# 2. The 'wave' column equals 2013
# 3. The 'emp_firm' (number of employees in the firm) is between 100 and 5000, inclusive
df_mexico = df[(df['country'] == 'Mexico') & (df['wave'] == 2013) & (df['emp_firm'] >= 100) & (df['emp_firm'] <= 5000)]

In [ ]:
# Print the total number of observations in the dataset
print("Number of observations:", len(df))

Number of observations: 14277

In [ ]:
# Print the total number of observations in the filtered dataset
print("Number of observations:", len(df_mexico))

Number of observations: 300

In [ ]:
# Save the filtered dataset to a new CSV file
df_mexico.to_csv('wms_mexico_2013.csv')

In [ ]:
# Download the saved CSV file to your local machine (works in Google Colab)
files.download('wms_mexico_2013.csv')

In [ ]:
# Calculate the average number of employees
print("The average number of employees:", df['emp_firm'].mean())

In [ ]:
# descriptive statistics
print("Descriptive statistics")
df.describe()

Descriptive statistics

,firmid,wave,sic,management,operations,monitor,target,people,lean1,lean2,...,aa_196,aa_197,aa_198,aa_199,aa_200,aa_201,aa_202,aa_203,aa_204,aa_205
count,300.000000,300.0,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,...,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0,300.0
mean,7977.316667,2013.0,29.390000,2.938519,2.815000,3.320667,2.746667,2.821111,2.783333,2.846667,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
std,118.193890,0.0,5.684977,0.601059,0.959868,0.764934,0.705892,0.551878,1.039225,1.039273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,7778.000000,2013.0,20.000000,1.277778,1.000000,1.000000,1.200000,1.166667,1.000000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,7872.500000,2013.0,25.000000,2.555556,2.500000,2.800000,2.200000,2.500000,2.000000,2.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50%,7973.000000,2013.0,30.000000,2.944444,3.000000,3.400000,2.800000,2.833333,3.000000,3.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
75%,8083.500000,2013.0,34.000000,3.277778,3.500000,3.800000,3.200000,3.166667,4.000000,4.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,8180.000000,2013.0,39.000000,4.611111,5.000000,5.000000,4.600000,4.333333,5.000000,5.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# get a full correlation matrix
print("Full correlation matrix")
df.corr(numeric_only=True)

Full correlation matrix

,firmid,wave,sic,management,operations,monitor,target,people,lean1,lean2,...,aa_196,aa_197,aa_198,aa_199,aa_200,aa_201,aa_202,aa_203,aa_204,aa_205
firmid,1.000000,0.022670,0.008139,0.056079,0.016366,0.037205,0.058572,0.066381,0.025307,0.008292,...,0.017276,-0.032489,-0.020965,-0.059604,-0.100692,-0.033384,-0.031476,-0.037590,0.003373,-0.024634
wave,0.022670,1.000000,-0.069558,-0.103488,0.006107,-0.077279,-0.121379,-0.117763,0.020769,-0.014855,...,-0.027787,0.117312,-0.042434,0.022943,0.102089,0.119326,0.112122,-0.039165,0.012723,-0.023870
sic,0.008139,-0.069558,1.000000,0.177365,0.174017,0.158496,0.132736,0.152242,0.191723,0.135165,...,0.010928,NaN,0.010224,0.003430,-0.014824,NaN,NaN,0.018844,0.003185,0.007167
management,0.056079,-0.103488,0.177365,1.000000,0.749151,0.897713,0.894205,0.835963,0.734354,0.673418,...,-0.015895,-0.047133,-0.012017,0.009394,-0.011885,-0.003290,-0.026311,-0.027992,-0.010773,0.011751
operations,0.016366,0.006107,0.174017,0.749151,1.000000,0.655266,0.582521,0.496982,0.936564,0.938585,...,-0.013455,-0.019338,-0.007359,-0.017243,-0.011611,0.005408,-0.003065,-0.043263,-0.014633,0.008990
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
aa_201,-0.033384,0.119326,NaN,-0.003290,0.005408,-0.020983,-0.009682,0.018833,0.010035,-0.000166,...,-0.004753,-0.004149,-0.002721,-0.005880,-0.005511,1.000000,-0.003966,-0.003653,-0.000544,-0.000942
aa_202,-0.031476,0.112122,NaN,-0.026311,-0.003065,-0.044363,-0.029653,-0.002964,0.002988,-0.009007,...,-0.004466,-0.003899,-0.002557,-0.005525,-0.005178,-0.003966,1.000000,-0.003433,-0.000511,-0.000885
aa_203,-0.037590,-0.039165,0.018844,-0.027992,-0.043263,-0.020973,-0.033748,-0.006923,-0.037837,-0.043740,...,-0.004114,-0.003592,-0.002355,-0.005090,-0.004770,-0.003653,-0.003433,1.000000,-0.000471,-0.000815
aa_204,0.003373,0.012723,0.003185,-0.010773,-0.014633,-0.008233,-0.009035,-0.007588,-0.013474,-0.014067,...,-0.000612,-0.000535,-0.000351,-0.000758,-0.000710,-0.000544,-0.000511,-0.000471,1.000000,-0.000121
aa_205,-0.024634,-0.023870,0.007167,0.011751,0.008990,0.012772,0.001518,0.016487,0.015679,0.001243,...,-0.001061,-0.000926,-0.000607,-0.001312,-0.001230,-0.000942,-0.000885,-0.000815,-0.000121,1.000000

In [ ]:
# correlation coefficients
print("Correlation coefficients")
df[['management', 'emp_firm']].corr()

Correlation coefficients

            management  emp_firm
management    1.000000  0.110789
emp_firm      0.110789  1.000000

In [ ]:
# Calculate the average of the variable management
print(df['management'].mean())

2.9192027488726398

In [ ]:
df['management'].std()

0.6709480298505409

In [ ]:
df[['management', 'emp_firm']].std()

management       0.670948
emp_firm      3703.285294
dtype: float64

In [ ]:
df['management'].min()

1.0

In [ ]:
df['management'].max()

5.0

In [ ]:
df['management'].min()

In [ ]:
df['management'].quantile([0.25, 0.5, 0.75])

0.25    2.444444
0.50    2.944444
0.75    3.388889
Name: management, dtype: float64

In [ ]:
print(df['country'].unique())

['United States' 'India' 'New Zealand' 'Australia' 'Argentina' 'Brazil'
 'Canada' 'Chile' 'China' 'Germany' 'Spain' 'France' 'Northern Ireland'
 'Great Britain' 'Greece' 'Republic of Ireland' 'Italy' 'Japan' 'Mexico'
 'Poland' 'Portugal' 'Sweden' 'Singapore' 'Turkey']